
/* Desktop resolution */
@media (min-width: 1024px) {
    .dichvu .dichvu-trai, .dichvu-phai {
        width: 50%;
    }
    .dichvu {
        flex-direction: row;
        margin-top: 50px;
    }

}

/* Touch resolution */
@media (max-width: 1023px) {
    #navbar {
        display: none;
    }
.header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 60px;
}
.header-mobile .mobile-logo {
    padding: 5px;
}
.header-mobile .mobile-navbar {
    display: flex;
    justify-content: end;
    align-items: center;
}
.header-mobile .mobile-menu {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
}
.header-mobile .mobile-menu.open {
    display: block;
}


    .dichvu .dichvu-trai, .dichvu-phai {
        width: 100%;
    }
    .dichvu {
        flex-direction: column;
    }
    .slide-blog .slick-prev.pull-left {
        left: 0px;
     }
     .slide-blog .slick-next.pull-right {
        right: 0px;
     }
     .d-t-none {
        display: none !important;
     }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .value {
        margin-top: 50px;
    }
    .slide-blog .slick-slide {
        padding: 50px;
     }
     .blog-item {
        padding: 30px;
        border-radius: 5px;
     }
     .blog-img {
        border-radius: 2px;
        margin-bottom: 20px;
     }

     .doitackhac, .doitactruyenthong, .duan {
        margin-top: 50px;
     }
}

/* Mobile */
@media (max-width: 739px) {
    .value {
        margin-top: 50px;
    }
    .duan {
        margin-bottom: 20px;
    }

    .slide-blog .slick-slide {
        padding: 30px;
     }
     .blog-item {
        padding: 15px;
        border-radius: 5px;
     }
     .blog-img {
        border-radius: 2px;
        margin-bottom: 10px;
     }

     .doitackhac, .doitactruyenthong, .duan {
        margin-top: 50px;
     }

}